body {
  background-color: gainsboro;
}
button:hover{
  cursor:pointer;
}
input:focus{
  outline:0;
}
input{
  margin-bottom:10px;
}
.header{
  background-color:black;
  color:white;
  font-size:2em;
  padding:20px;
  margin: -8px -8px 20px -8px;
}
.taskInputs{
  background-color:transparent;
  border:none;
}
